<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>O Senhor dos Anéis: Os anéis do poder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="tem-ninguem">
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/z9a3b7DePtdo2E8NzyPwoGHGsYk.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      <h1>O Senhor dos Anéis: Os Anéis de Poder (2022)</h1>
        <ion-chip class="chip1" color="secondary">
          <ion-label >Sci-Fi & Fantasy</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label >Action & Adventure</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label>Drama</ion-label>
        </ion-chip>
        <h1 style="padding-top: 30px;">Sinopse</h1>
        <p class="ion-text-wrap" >Tendo início em uma época de relativa paz, a série acompanha um grupo de personagens que enfrenta o
          ressurgimento do mal na Terra-média. Das profundezas escuras das Montanhas de Névoa, das majestosas florestas de Lindon, do
          belíssimo reino da ilha de Númenor, até os confins do mapa, esses reinos e personagens criarão legados que permanecerão vivos
          muito além de suas partidas.</p>
        <h1 style="padding-top: 30px;">John D. Payne</h1>
        <p>Criação</p>
          <h1>Patrick McKay</h1>
          <p>Criação</p>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/home" color="favorite" class="ion-text-end">
    <ion-label>Voltar</ion-label>
  </ion-item>
</ion-content>
