<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>Peaky Blinders: Sangue, Apostas e Navalhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="tem-ninguem">
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/i0uajcHH9yogXMfDHpOXexIukG9.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      <h1>Peaky Blinders: Sangue, Apostas e Navalhas (2013)</h1>
        <ion-chip class="chip1" color="secondary">
          <ion-label >Drama</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label >Crime</ion-label>
        </ion-chip>
        <h1 style="padding-top: 30px;">Sinopse</h1>
        <p class="ion-text-wrap" >Thomas Shelby e seus irmãos retornam a Birmingham depois de servir no exército britânico durante a Primeira
          Guerra Mundial. Os Peaky Blinders, a gangue na qual Thomas é líder, controlam a cidade de Birmingham. Mas, como as ambições de Shelby
          se estendem para além de Birmingham, ele planeja construir o império de negócios que criou e impedir qualquer um que atrapalhar.</p>
        <h1 style="padding-top: 30px;">Steven Knight</h1>
        <p>Criação</p>
    </ion-label>
  </ion-card>
  <ion-item routerLink="/home" color="favorite" class="ion-text-end">
    <ion-label>Voltar</ion-label>
  </ion-item>
</ion-content>
