<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>Sandman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="tem-ninguem">
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/q54qEgagGOYCq5D1903eBVMNkbo.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      <h1>Sandman (2022)</h1>
        <ion-chip class="chip1" color="secondary">
          <ion-label >Sci-Fi & Fantasy</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label >Drama</ion-label>
        </ion-chip>
        <h1 style="padding-top: 30px;">Sinopse</h1>
        <p class="ion-text-wrap" >Um mago tenta capturar a Morte para barganhar pela vida eterna, no entanto, acaba prendendo seu
          irmão mais novo, Sonho. Temendo por sua segurança, o mago o mantém preso em uma garrafa de vidro por décadas. Após sua fuga,
          Sonho, também conhecido como Morpheus, parte em busca de seus poderosos objetos perdidos.</p>
        <h1 style="padding-top: 30px;">David S. Goyer</h1>
        <p>Criação</p>
          <h1>Neil Gaiman</h1>
          <p>Criação</p>
          <h1>Allan Heinberg</h1>
          <p>Criação</p>
    </ion-label>
  </ion-card>
  <ion-item routerLink="/home" color="favorite" class="ion-text-end">
    <ion-label>Voltar</ion-label>
  </ion-item>
</ion-content>
