<ion-header [translucent]="true">
  <ion-toolbar color="favorite">
    <ion-title >
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item color="tem-ninguem">
    <ion-thumbnail slot="start">
      <img alt="wall-e" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg" />
    </ion-thumbnail>
    <ion-label><h1>wall-e</h1>

      <ion-label>
        <ion-chip class="chip1" color="secondary">
          <ion-label >Animação</ion-label>
        </ion-chip>
      </ion-label>

      <ion-label>
        <ion-chip color="secondary">
          <ion-label >Família</ion-label>
        </ion-chip>
      </ion-label>

      <ion-label>
        <ion-chip color="secondary">
          <ion-label>Ficção científica</ion-label>
        </ion-chip></ion-label>
      </ion-label>

    <ion-button color="favorite" size="medium" routerLink="/wall-e">Ver mais</ion-button>
  </ion-item>

  <ion-item color="tem-ninguem">
    <ion-thumbnail slot="start">
      <img alt="a-casa-do-dragao" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ruHPkmmAwBTCzNXtHot18rs6ctN.jpg" />
    </ion-thumbnail>
    <ion-label><h1>A Casa do Dragão</h1>
      <ion-label>

        <ion-chip class="chip1" color="secondary">
          <ion-label >Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label >Drama</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label>Action & Adventure</ion-label>
        </ion-chip>
      </ion-label>
      </ion-label>
    <ion-button color="favorite" size="medium" routerLink="/a-casa-do-dragao">Ver mais</ion-button>
  </ion-item>

  <ion-item color="tem-ninguem">
    <ion-thumbnail slot="start">
      <img alt="o-senhor-dos-aneis" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/z9a3b7DePtdo2E8NzyPwoGHGsYk.jpg" />
    </ion-thumbnail>
    <ion-label><h1>O Senhor dos Anéis: Os Anéis de Poder</h1>
      <ion-label>

        <ion-chip class="chip1" color="secondary">
          <ion-label >Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label >Action & Adventure</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label>Drama</ion-label>
        </ion-chip></ion-label>
      </ion-label>
    <ion-button color="favorite" size="medium" routerLink="/o-senhor-dos-aneis">Ver mais</ion-button>
  </ion-item>

  <ion-item color="tem-ninguem">
    <ion-thumbnail slot="start">
      <img alt="sandman" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/q54qEgagGOYCq5D1903eBVMNkbo.jpg" />
    </ion-thumbnail>
    <ion-label><h1>Sandman</h1>
      <ion-label>

        <ion-chip class="chip1" color="secondary">
          <ion-label >Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label >Drama</ion-label>
        </ion-chip></ion-label>
      </ion-label>
    <ion-button color="favorite" size="medium" routerLink="/sandman">Ver mais</ion-button>
  </ion-item>

  <ion-item color="tem-ninguem">
    <ion-thumbnail slot="start">
      <img alt="peaky-blinders" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/i0uajcHH9yogXMfDHpOXexIukG9.jpg" />
    </ion-thumbnail>
    <ion-label><h1>Peaky Blinders: Sangue, Apostas e Navalhas</h1>
      <ion-label>

        <ion-chip class="chip1" color="secondary">
          <ion-label >Drama</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label >Crime</ion-label>
        </ion-chip></ion-label>
      </ion-label>
    <ion-button color="favorite" size="medium" routerLink="/peaky-blinders">Ver mais</ion-button>
  </ion-item>

  <ion-item color="tem-ninguem">
    <ion-thumbnail slot="start">
      <img alt="stranger-things" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/49WJfeN0moxb9IPfGn8AIqMGskD.jpg" />
    </ion-thumbnail>
    <ion-label><h1>Stranger Things</h1>
      <ion-label>
        <ion-chip class="chip1" color="secondary">
          <ion-label >Drama</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label >Sci-Fi & Fantasy</ion-label>
        </ion-chip>
      </ion-label>
      <ion-label>

        <ion-chip color="secondary">
          <ion-label>Mistério</ion-label>
        </ion-chip></ion-label>
      </ion-label>
    <ion-button color="favorite" size="medium" routerLink="/stranger-things">Ver mais</ion-button>
  </ion-item>

</ion-content>
