<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>wall-e</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="tem-ninguem">
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      <h1>WALL-E (2008)</h1>
      <p>27/06/2008 (BR)
        1h 37m</p>
        <ion-chip class="chip1" color="secondary">
          <ion-label >Animação</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label >Família</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label>Ficção científica</ion-label>
        </ion-chip>
        <h1 style="padding-top: 30px;">Sinopse</h1>
        <p class="ion-text-wrap" >Depois de milhares de solitários anos fazendo o que ele foi construído para fazer, o curioso
        e adorável WALL-E encontra uma nova razão para viver quando conhece uma robô de busca de alto design
        chamada EVA.</p>
        <h1 style="padding-top: 30px;">Andrew Stanton</h1>
        <p>Director, Screenplay</p>
          <h1>Jim Readon</h1>
          <p>Screenplay</p>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/home" color="favorite" class="ion-text-end">
    <ion-label>Voltar</ion-label>
  </ion-item>
</ion-content>
