@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

ion-thumbnail {
  height: 100%;
  width: 30%;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

ion-title{
  font-weight: 700;
  font-family: 'roboto';
  color: rgb(255, 145, 0);
}

ion-card{

  img {
    border-radius: 25px;
    box-shadow: -8px 8px 15px 1px rgb(17, 30, 44);
  }

  ion-label{
    font-weight: 700;
    font-family: 'roboto';
    color: rgb(255, 145, 0);
    p{
      color: rgb(187, 222, 255);
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 15px;
      padding-bottom: 10px;
      padding-left: 30px;
    }
    h1 {
      font-weight: 700;
      font-size: 28px;
      color: #ff9100;
      padding-left: 30px;
    }
  }
  ion-item{
    ion-label{
      font-weight: 700;
      color: #ff9100;
      font-family: 'Roboto', 'sans-serif';
    }

  }

  .chip1{
    color: rgb(17, 30, 44);
    margin: 10px;
    margin-left: 30px;
    box-shadow: -5px 5px 5px 0px,
    -5px -5px 5px -15px;
  }
  ion-chip {
    color: rgb(17, 30, 44);
    margin: 5px;
    box-shadow: -5px 5px 5px 0px,
    -5px -5px 5px -15px;
  }
}

@media (max-width: 500px) {

  .container {

    ion-card{
      ion-thumbnail {
        height: 90%;
        width: 90%;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
      }
    }
  }

}
