<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>wall-e</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="/home" color="favorite">
    <ion-label>Voltar</ion-label>
  </ion-item>

  <ion-item color="tem-ninguem">

    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg" alt="">

    </ion-thumbnail>
    <ion-label>
      <h1>WALL-E (2008)</h1>
      <p>27/06/2008 (BR)
        Animação, Família, Ficção científica
        1h 37m</p>

    </ion-label>

  </ion-item>
</ion-content>
